
#status_message { 
	width:1000px;
	height: 200px;
	border:5px solid black;
}

#Facebook {
background-color:blue;
color:black;
display: inline-block;
} 
#Gmail{
background-color:red; 
color:black;
display:inline-block;

}
#Github{
	background-color:green;
	color:black;
 border-color: solid black;
 display: inline-block;

}
#experience.html{
	background-color: darkblue
}
