
#status_message { 
	width:1000px;
	height: 200px;
	border:5px solid black;
}

#experience{
	border-spacing: 500px
}


table, th, td {
    height: 50px;
    vertical-align: bottom;
}
                                
    }
    th,td{
        text-align: center;
    } 

    .btn-btn-default{text-align: right
        } 


        #main.html
        {text-overflow: right;
        }
        .mainbody{
        	padding-left: 250px !important
        }
        #usedbtn{ 
        	border-width: 60% !important

        }
        #page-content-wrapper
        { border:  1px solid black;

        }