<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: darkblue">

            <div class="container-fluid">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <em><strong><div style='color: white'>DriveSave</div> </strong></em>
                    </a>
                </li>
                <li>
                    <a ng-click, href="#/"><buttontype= style='color: white'>Brands<div id='#main'></buttontype></a>
                </li>
                <li>
                    <a ng-click, href="#/experience"><buttontype= style='color: white'>Your Experince<div id='#experience'></buttontype></a>
                </li>
                <li>
                    <a ng-click, href="#/Used"><buttontype= style='color: white'>Used<div id='#Used'></buttontype></a>
               </li>
                <li>
                    <a ng-click, href="#/uses"><buttontype= style='color: white'>Used Section<div id='#uses'></buttontype></a>
               </li>
                <li>
                    <a ng-click href="#/login"><buttontype= style='color: white'>Login<div id='#Login'></buttontype></a>
                </li>
                <li>
                    <a ng-click href="#/Contact"><buttontype= style='color: white'>Contact<div id='#Contact'></buttontype></a>
                </li>
            </ul>
        </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"> 
                     </div> 
                      </div> 
                       </div> 
                        </div>