

 <div id="dealpage" class='mainbody'>
<div style='background-color: white' class='mainbody'>

<header> 
<div style="color:black"><em><h1>Contact</h1></em><br>
<p> <h3> Book an appointment today!!</h3></p>
<h1>DealerShips</h1>
<hr>
</header>
<div style="border-width: : 5px solid black"></div>
	<button type="button" class="close" ng-click="showAddDealership()">Add Dealership</button>
	<div> 
	 <ul ng-repeat="dealership in dealershipList"> 


		<li>

			<div style='color:black'>
				<h3><a href='#/dealership/{{dealership.$id}}'>{{dealership.address}}</a> <span ng-click="showEditDealership(dealership.$id)"></span></h3>
			</div>
			<a style='color:black' href='{{dealership.url}}'>{{dealership.name}}</a>
		</li>

	 </ul>
</div>

<div id="addDealershipmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Dealership</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control modal-form" ng-model="newDealership.name" placeholder="Dealership Name">
		<input type="text" class="form-control modal-form" ng-model="newDealership.address" placeholder="Dealership Address">
     
        <input type="text" class="form-control modal-form" ng-model="newDealership.phone" placeholder="Dealership Phone#">
		<input type="text" class="form-control modal-form" ng-model="newDealership.url" placeholder="Dealership URL">
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="addDealership(newDealership)">
			Add
		</button>
		 </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="editDealershipmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">edit a Dealership</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control modal-form" ng-model="editDealership.name" placeholder="Dealership Name">
		<input type="text" class="form-control modal-form" ng-model="editDealership.address" placeholder="Dealership Address">
     
        <input type="text" class="form-control modal-form" ng-model="editDealership.phone" placeholder="Dealership Phone#">
		<input type="text" class="form-control modal-form" ng-model="editDealership.url" placeholder="Dealership URL">
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="updateDealership()">
			edit
		</button>
		 </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>