





<div class='drivesave_header row'>
  <div class='col-sm-12'>
   <h1><em>Share Your Story</em></h1>
  </div> 
</div> 

<div class='container container-form'>
  <div class='row'> 
    <div class='col-sm-12'> 
        <input type='text' ng-model='yourstory.name' class='form-control form-input'> 
    </div>
    <div class='col-sm-12'> 
         <textarea class='form-control form-input' ng-model='yourstory.msg' placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
    </div>
    <div class='col-sm-12'>
      <button class='btn btn-primary btn-block' ng-click='submitstory()'>Submit</button>
    </div>
  </div>
</div>

  
     
      