





        <div id="page-content-wrapper" class='mainbody'>
<div class='drivesave_header row' >
  <div class='col-sm-12'>
   <h1><em>Share Your Story</em></h1>
   <h3> Your Story, will be placed on the contact page for others to view!</h3>
   <h4>Please leave a rating after your story. Rate 1-10.</h4>
  </div> 
</div> 

<button ng-click='submitstory()'>Submit Story</button>
   

<div id="addExperiencemodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Your Story</h4>

      </div>
      <div class="modal-body">
      <div id='experience'>
          <textarea class='form-control form-input' ng-model='newExperience.msg' placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
           <select class= 'form-control' ng-model= 'newExperience.dealership'> 
            <option ng-repeat='dealership in dealerships' value='{{dealership.$id}}'>{{dealership.name}}</option>
           </select>
        <input type="text" class="form-control modal-form" ng-model="newExperience.SalesPerson" placeholder="Sales Person">
    <input type="text" class="form-control modal-form" ng-model="newExperience.ServiceDepartment" placeholder="Service Department">
     
        <input type="text" class="form-control modal-form" ng-model="newExperience.OverallExperience" placeholder="Overall Experience">
    <input type="text" class="form-control modal-form" ng-model="newExperience.YourPrice" placeholder="Your Price/Model">
    </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="addExperience(newExperience)">
      Submit
    </button>
     </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="editDealershipmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">edit Your Story</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control modal-form" ng-model="editExperience.SalesPerson" placeholder="Sales Person">
    <input type="text" class="form-control modal-form" ng-model="editExperience.ServiceDepartment" placeholder="Service Department">
     
        <input type="text" class="form-control modal-form" ng-model="editExperience.OverallExperience" placeholder="Overall Experience">
    <input type="text" class="form-control modal-form" ng-model="editExperience.YourPrice" placeholder="Your Price/Model">
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="updateExperience()">
      edit
    </button>
     </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



      