
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" ng-hide="isLoggedIn">
            <button class="btn btn-lg btn-block btn-primary" ng-click="loginWithFacebook()">Sign in with Facebook</button>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" ng-hide="isLoggedIn">
            <button class="btn btn-lg btn-block btn-primary" ng-click="loginWithGmail()">Sign in with Gmail</button>
        </div>
    </div>
</div>
<p></p>
<p></p>
        <div class="col-sm-4 col-sm-offset-4" ng-show="isLoggedIn">
            
            <button class="btn btn-lg btn-block btn-danger" ng-click="logout()">Logout</button>
        </div>
    </div>
</div>