
	
	

<header> 
        <div id="page-content-wrapper" class='mainbody'>


  
<div style="color:black"><em><h1>Used Vehicles</h1></em><br>
</header>
<div style="border-width: : 5px solid black"></div>
<hr><strong></strong></hr>
	<!-- <button class="btn btn-block btn-warning" ng-click="showAddUsed()">Add Used</button> -->
	<div> 
	 <ul ng-repeat="used in useList"> 
	 	<div id="page-content-wrapper" class='mainbody'>

		<li>

			<div style='color:black'>
				<h3><a href='#/uses/{{used.$id}}'>{{used.msg}}</a> <span ng-click="showEditused(used.$id)">(edit)</span></h3>
			</div>
			<a style='color:black' href='{{used.Year}}'>{{used.Year}}</a>
		</li>

	 </ul>
</div>

<div id="addUsemodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Used Cars</h4>
      </div>
      <div class="modal-body">
          <textarea class='form-control form-input' ng-model='yourcar.msg' placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>

        <input type="text" class="form-control modal-form" ng-model="newUse.name" placeholder="Use Name">
    <input type="text" class="form-control modal-form" ng-model="newUse.Year" placeholder="Use Year">
     
        <input type="text" class="form-control modal-form" ng-model="newUse.Contact" placeholder="Use Contact Info">
    <input type="text" class="form-control modal-form" ng-model="newUse.Price" placeholder="Use Price">
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="addUse(newUse)">
      Submit
    </button>
     </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><

<div id="editUsemodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">edit Used</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control modal-form" ng-model="editUse.name" placeholder="Use Name">
    <input type="text" class="form-control modal-form" ng-model="editUse.Year" placeholder="Use Year">
     
        <input type="text" class="form-control modal-form" ng-model="editUse.Contact" placeholder="Use Contact Info">
    <input type="text" class="form-control modal-form" ng-model="editUse.Price" placeholder="Use Price">
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="updateUse()">
      edit
    </button>
     </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div
