

<div class="container" class='mainbody'> 
<div id="page-content-wrapper" class='mainbody'>
<div class='drivesave_header row'>
  <div class='col-sm-12'>
   <h1><em>Leave Your Vehicle!!</em></h1>
   <h3> Your Vehicle will be placed on the Used Car Section page for others to view!</h3>
  </div> 
</div> 
<hr>

<button type='button' class='close' ng-click='submitused()'>Add Used</button>
   

<div id="addUsedemodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Your Used</h4>

      </div>
      <div class="modal-body">
      <div id='used'>
          <textarea class='form-control form-input' ng-model='newUsed.msg' placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
           <select class= 'form-control' ng-model= 'newUsed.uses'> 
            <option ng-repeat='uses in use' value='{{uses.$id}}'>{{uses.name}} {{vehicle.Contactinfo}}</option>
           </select>
        <input type="text" class="form-control modal-form" ng-model="newUsed.name" placeholder="Car name">
    <input type="text" class="form-control modal-form" ng-model="newUsed.Year" placeholder="Year">
      <input type="text" class="form-control modal-form" ng-model="newUsed.Contact" placeholder="Vehicle Contact Info">
        <input type="text" class="form-control modal-form" ng-model="newUsed.km" placeholder="km">
    <input type="text" class="form-control modal-form" ng-model="newUsed.YourPrice" placeholder="Your Price">
    </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="addUsed(newUsed)">
      Submit
    </button>
     </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="editUsepmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">edit Your Used</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control modal-form" ng-model="editUsed.name" placeholder="Car name">
         <input type="text" class="form-control modal-form" ng-model="editUsed.Year" placeholder="Year">
         <input type="text" class="form-control modal-form" ng-model="editUsed.Contact" placeholder="Contact info">
        <input type="text" class="form-control modal-form" ng-model="editUsed.km" placeholder="km">
    <input type="text" class="form-control modal-form" ng-model="editUsed.YourPrice" placeholder="Your Price/Model">
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-success" ng-click="updateUsed()">
      edit
    </button>
     </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



