


<div class='drivesave_header row'>
  <div class='col-sm-12'>
   <h1><em>Used</em></h1>
  </div> 
</div> 

<div class='container container-form'>
  <div class='row'> 
    <div class='col-sm-12'> 
        <input type='text' class='form-control form-input'> 
    </div>
    <div class='col-sm-12'> 
         <textarea class='form-control form-input' placeholder="Add your used..." rows="10" cols="40" name="message"></textarea>
    </div>
    <div class='col-sm-12'>
            <button class='btn btn-primary btn-block' ng-click='submitstory()'>Submit</button>
   </div>
  </div>
</div>




