<div id="page-content-wrapper" class='mainbody'>
<h1>{{vehicle.name}}</h1>
<h1>{{vehicle.Contactinfo}}</h1>


		<p>
			Message: {{vehicle.msg}}<br>
			Year: {{vehicle.Year}}<br>
			KM: {{vehicle.km}}<br>
			ContactInfo: {{vehicle.Contactinfo}}<br>
			YourPrice: {{vehicle.YourPrice}}<br>

		</p>
		<p> 
<form action="mailto:youraddr@domain.tld" method="GET">
    <input id='usedem'name="subject" type="text" /><br>
    <textarea id='usedemail' name="body"></textarea>
    <input id=usesem type="submit" value="Send Email" />
</form>
</p>
	</div> 
